.table-wrapper {
    width: 100%;
    box-shadow: 0px 0px 4px 2px #d6d6d6;
    max-height: calc(100% - 200px);
    overflow: scroll;
    position: relative;
    border-radius: 4px;
    .toggle-header {
        position: sticky;
        background-color: #fff;
        top: 0px;
        padding: 10px;
    }
    .table-data-wrapper {
        padding: 10px;
        height: calc(100% - 93px );
        overflow: scroll;
    }
    .status {
        border: 1px solid dodgerblue;
        padding: 3px;
        border-radius: 4px;
        font-size: 12px;
        color: dodgerblue;
        font-weight: 500;
        text-align: center;
    }
    .amount {
        text-align: right;
    }
    .action {
        visibility: hidden;
        span {
            font-size: 14px;
        }
    }
    .receipt {
        font-size: 18px;
        color: lightgrey;
    }
    .margin-l-5 {
        margin-left: 5px;
    }
    .margin-r-5 {
        margin-right: 5px;
    }
    .red {
       color: red;
    }
    .green {
        color: green
    }
    .orange {
        color: orange;
    }
    .table-data {
        &:hover {
            .action {
                visibility: visible;
                span {
                    font-size: 14px;
                }
            }
            .status {
                visibility: hidden;
            }
        }
    }
    .selected-transaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        background-color: #fff;
        box-shadow: 0px 0px 4px 2px #d6d6d6;
        padding: 14px;
        border-radius: 8px;
        margin: 0px 10px;
        color: #666565;
        font-size: 14px;
        animation: slide-in-bottom 0.5s both;
        span {
            font-size: 18px;
        }
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
    .export {
        margin-left: 10px;
        background-color: #f3efef;
        padding: 6px;
        border-radius: 4px;
       display: flex;
       font-size: 12px;
       align-items: center;
       cursor: pointer;
    }
}

  @keyframes slide-in-bottom {
    0% {
        bottom: 0px;
        opacity: 0.5;
    }
    100% {
        bottom: 20px;
        opacity: 1;
    }
  }
  